

@media (min-width: 768px) {
    .container-small {
        width: 500px;
    }
    #questionBox {
        word-break: break-all;
        white-space: normal;
    }
} 
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    #questionBox {
        word-break: break-all;
        white-space: normal;
    }
} 
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    #questionBox {
        word-break: break-all;
        white-space: normal;
    }
}

.container-small, .container-large {
    max-width: 100%;
}